/* Header */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar-user:hover .navbar-user-menu {
    display: block;
}

.navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 2px 10px #e0e0e0;;
    margin: 0;
    display: none;
}

.navbar-user-menu::before {
    content: "";
    border-width: 10px 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 24px;
    top: -18px;
}

.navbar-user-menu::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}

.navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-user-item a {
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 16px;
}

.navbar-user-item a:hover {
    background-color: #fafafa;
}

.navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar-item--has-qr:hover .header__qr {
    display: block;
}

.navbar-item--has-notification:hover .notification {
    display: block;
}

.navbar-item,
.navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    z-index: 1;
}

.navbar-item,
.navbar-item-link,
.navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar-item:hover,
.navbar-item-link:hover,
.navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar-item--bold {
    font-weight: 400;
}

.navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    right: -9px;
    background-color: #FB9086;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar-icon-link:nth-child(2) {
    margin-left: 3px;
} 

.navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

/* Header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    border-radius: 2px;
    top: 118%;
    display: none;
    animation: fadeIn ease 0.5;
    z-index: 1;
    box-shadow: 0 2px 10px #e0e0e0;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-download {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-app {
    height: 16px;
}

/* Header notification */
.notification {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: notificationGrowth ease 0.25s;
    will-change: opacity, transform;
    display: none;
}

.notification::before {
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
}

.notification::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -16px;
    height: 20px;
    width: 90px;
}

@keyframes notificationGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notification-header {
    height: 40px;
    background-color: var(--white-color);
}

.notification-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.notification-list {
    padding-left: 0;
}

.notification-item {
    display: flex;
}

.notification-item:hover {
    background-color: #f7f7f7;
}

.notification-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.notification-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.notification-img {
    width: 48px;
    object-fit: contain;
}

.notification-info {
    margin-left: 12px;
}

.notification-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.notification-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.notification-footer {
    display: flex;
}

.notification-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 16px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Authen Modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-icon {
    font-size: 1.8rem;
}

.social--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.social--facebook .social-icon {
    color: var(--white-color);
}

.social--google {
    color: #666;
    background-color: var(--white-color);
}

.social-title {
    margin: 0 24px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-forgot {
    color: var(--primary-color);
    font-weight: 400;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #AEAEAE;
    height: 20px;
    margin: -2px 16px 0;
}

/* Header search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 148px;
    color: var(--white-color);
}

.header__search {
    background-color: var(--white-color);
    flex: 1;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart-heading {
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    text-align: left;
    margin: 8px 0 8px 12px;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 54vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 48px;
    object-fit: contain;
    margin: 12px;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    font-weight: 400;
    margin: 0;
    flex: 1;
    padding-right: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 8px);
    right: -5px;
    width: 360px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #e0e0e0;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: -3px;
    top: -28px;
    cursor: pointer;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-message {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 18%;
    display: none;
}

.header__cart-no-cart-message {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 14px;
}

.header__cart-notice {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    top: -6px;
    right: -8px;
    font-size: 1.4rem;
    padding: 1px 7px;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.2rem;
    margin-top: 8px;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-lable {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon  {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 8px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-select:hover
.header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 3px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    overflow: hidden;
    animation: fadeIn linear 0.15s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    width: 100%;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left:  12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(185, 185, 185);
    z-index: 1;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    color: #999;
    margin: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}

/* App container */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 12px;
}

.category-item {
    font-size: 1.4rem;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 16px;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* Home sort + filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__lable {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    font-weight: 100;
    color: #555555;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    height: 3.6rem;
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__liked-icon {
    display: none;
    color: #F63D30;
}

.home-product-item__liked .home-product-item__liked-icon {
    display: inline-block;
}

.home-product-item__liked .home-product-item__like-icon {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
    padding: 0 0 6px;

}

.home-product-item__brand,
.home-product-item__origin-name {
    font-size: 1.2rem;
    color: #595959;
    font-weight: 200;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 1rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
}

.home-product-item__sale::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-percent {
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #EE4D2D;
    font-weight: 600;
}

.home-product-item__sale-lable {
    position: relative;
    top: -2px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 500;
}

/* Footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: flex;
    padding: 6px 0;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    padding-right: 6px;
}

.footer__qr {
    display: flex;
}

.footer__qr-img {
    width: 80px;
    height: 80px;
    border: 1px solid var(--boder-color);
}

.footer__qr-download {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__qr-link {
    text-decoration: none;
    color: transparent;
    padding: 4px 0;
}

.footer__qr-app {
    height: 20px;
}

.footer__bottom {
    background-color: #F5F5F5;
    padding: 8px 0;
    margin-top: 36px;
}

.footer__text {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    color: #737373;
}